.accordion {
  background-color: var(--second-content-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.accordion {
  border-bottom: 1px solid red;
}

.accordion:first-child{
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.active,
.accordion:hover {
  /* background-color: var(--main-content-color); */
}

.accordion:first-child.active {
  border:none;
}

.active {
  background:#fff;
  border:none;
}

/* .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  } */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
