.safe-container {
    width: -webkit-fill-available;
    padding: 0 100px;
}

.benefits-grid-container {
    width: 100%;
    overflow: hidden;
}

.benefits-grid-mobile {
    display: none;
    background: url(../assets/images/benefits-grid-mobile.png);
    width: 100vw;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 40px 0 0 0;
}

@media (max-width:1295px) {
    .portfolio-content {
        margin: 0;
        justify-content: center;
    }
}

@media (max-width:1100px) {
    .header-nav {
        background: transparent;
        padding: 0;
    }

    .header-nav ul {
        display: none;
    }

    .header-nav button {
        display: none;
    }

    .safe-container {
        padding: 0 75px;
    }

    .header-content::before {
        width: 275px;
        height: 120px;
    }

    .header-content::after {
        width: 325px;
        height: 195px;
    }

    .header-lines h1 {
        font-size: var(--fs-40);
    }

    .stretched-words {
        font-size: var(--fs-60);
    }

    .benefits-grid {
        display: none;
    }

    .benefits-grid-mobile {
        display: block;
    }

    .adaptive-plate-img {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .portfolio-content {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 16px;
    }

    .container-wrapper {
        margin: 0 0 220px 0;
    }

    .portfolio-title {
        align-self: flex-start;
    }

    .upper-portfolio-title,
    .lower-portfolio-title {
        font-size: var(--fs-48);
    }

    .upper-portfolio-title span {
        font-size: var(--fs-18);
    }

    /* portfolio plates */
    .gnrtr-plate {
        width: 100%;
        flex-direction: column;
        height: fit-content;
    }

    .gnrtr-plate::before {
        /* max-width: 570px;
        max-height: 640px;
        width: 100%;
        height: 640px; */
        display: none;
    }

}

@media (max-width:866px) {
    .about-block {
        margin: 0 auto;
        padding: 16px;
    }

    .about-title {
        font-size: var(--fs-48);
    }

    .about-description {
        font-size: var(--fs-16);
        line-height: 40px;
    }
}

@media (max-width:767px) {
    .header-top-bar {
        margin: 40px 0 30px 0;
    }

    .safe-container {
        padding: 0 32px;
    }

    .header-content::before {
        width: 306px;
        height: 232px;
        right: 0;
        left: initial;
        top: -95px;
    }

    .header-content::after {
        width: 316px;
        height: 316px;
        left: 0;
        right: initial;
        bottom: -170px;
    }

    .header-lines h1 {
        font-size: var(--fs-28);
    }

    .header-lines {
        width: 90%;
    }

    .stretched-words {
        font-size: var(--fs-32);
    }

    .container-wrapper {
        background-position: 0 50px;
    }
}

@media (max-width:425px) {
    .safe-container {
        padding: 0 16px;
    }

    .header-content::before {
        right: -10px;
    }

    .header-content::after {
        left: -10px;
    }

    .benefits-grid-mobile {
        height: 200px;
    }

    .about-block {
        margin: 0 16px;
    }
}

@media (max-width:340px) {
    .header-content::before {
        width: 240px;
        height: 100px;
        top: 0px;
    }

    .header-content::after {
        width: 260px;
        height: 120px;
        bottom: 0px;
    }
}