.safe-container {
    width: -webkit-fill-available;
    padding: 0 100px;
}

.adaptive-footer-logo {
    display: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    font-weight: var(--fw-b);
    text-transform: uppercase;
    margin-top:20px;
    letter-spacing: -0.14em;
}

.adaptive-footer-logo span {
    /* display: block; */
    display: none;
    position: relative;
    color: var(--main-content-color);
}

.adaptive-footer-logo span::before {
    width: max-content;
    position: absolute;
    content: "FAST.";
    color: var(--main-content-color);
    font-family: var(--ff-u);
    /* font-size: var(--fs-100); */
    font-weight: var(--fw-b);
    text-transform: uppercase;
    left: -130%;
    top: 0;
    opacity: 0.1;
}

.adaptive-footer-logo span::after {
    width: max-content;
    position: absolute;
    content: "FAST.";
    color: var(--main-content-color);
    font-family: var(--ff-u);
    /* font-size: var(--fs-100); */
    font-weight: var(--fw-b);
    text-transform: uppercase;
    left: 130%;
    top: 0;
    opacity: 0.1;
}

.benefits-grid-container {
    width: 100%;
    overflow: hidden;
}

.adaptive-benefits-content {
    display: none;
}

.adaptive-benefits-stars {
    display: none;
}

.benefits-grid-mobile {
    display: none;
    background: url(../assets/images/benefits-grid-mobile.png);
    width: 100vw;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 40px 0 0 0;
}

@media (max-width:1295px) {
    .portfolio-content {
        margin: 0;
        justify-content: center;
    }
}

@media (max-width:1100px) {
    .header-nav {
        background: transparent;
        padding: 0;
    }

    .header-nav ul {
        display: none;
    }

    .header-nav button {
        display: none;
    }

    .safe-container {
        padding: 0 75px;
    }

    .header-content::before {
        width: 275px;
        height: 120px;
    }

    .header-content::after {
        width: 325px;
        height: 195px;
    }

    .header-lines h1 {
        font-size: var(--fs-40);
    }

    .stretched-words {
        font-size: var(--fs-60);
    }

    .benefits-grid {
        display: none;
    }

    .benefits-grid-mobile {
        display: block;
    }

    .adaptive-plate-img {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .portfolio-content {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 16px;
        gap: 40px;
    }

    .container-wrapper {
        margin: 0 0 220px 0;
    }

    .portfolio-title {
        align-self: flex-start;
    }

    .upper-portfolio-title,
    .lower-portfolio-title {
        font-size: var(--fs-48);
    }

    .upper-portfolio-title span {
        font-size: var(--fs-18);
    }

    /* portfolio plates */

    .portfolio-left-column,
    .portfolio-right-column {
        gap: 40px;
    }

    .plate-tag {
        font-size: var(--fs-12);
    }

    .gnrtr-plate,
    .bold-plate,
    .profi-plate,
    .mojem-plate,
    .sens-visual-plate,
    .bohlib-plate,
    .bigmoney-plate {
        width: 100%;
        flex-direction: column;
        height: fit-content;
        position: relative;
    }

    .bigmoney-plate {
        height: 260px !important;
        display: flex;
        justify-content: center;
    }

    .bigmoney-plate::after {
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%) rotate(26deg);
        width: 145px;
        height: 91px;
    }



    .gnrtr-plate::before,
    .bold-plate::before,
    .profi-plate::before,
    .mojem-plate::before,
    .sens-visual-plate::before,
    .bohlib-plate::before,
    .bigmoney-plate::before {
        display: none;
    }

    .bold-plate .plate-tag {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .profi-plate .plate-tag {
        position: absolute;
        bottom: 20px;
        left: 0;
    }

    .mojem-plate .plate-tag {
        position: absolute;
        right: 0;
        top: 0;
    }

    .sens-visual-plate .plate-tag {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .bohlib-plate .plate-tag {
        position: absolute;
    }

    .bigmoney-plate .plate-tag {
        position: absolute;
        top: 0;
        right: 20px;
    }

    .portfolio-left-column {
        max-width: 517px;
        width: 100%;
    }

    .stages-title {
        margin: 0 16px 40px 16px;
        font-size: var(--fs-32);
        line-height: 120%;
    }

    .stages-content {
        margin: 0 auto !important;
    }

    .accordion .stages-content {
        max-width: 100%;
        margin: 0 16px !important;
    }

    .stage-tags {
        justify-content: space-between;
    }

    .tag-title,
    .tag-date,
    .stages-content p {
        font-size: var(--fs-16);
    }

    .tag-title,
    text .tag-date {
        padding: 12px;
        text-align: center;
        white-space: nowrap;
    }

    .order-container {
        width: calc(100% - 64px) !important;
        flex-direction: column;
        padding: 0 16px !important;
        margin: 0 16px !important;
        gap: 56px;
    }

    .order-text {
        margin: 16px 0 0 0;
        font-size: var(--fs-32);
    }

    .order-text span {
        font-size: var(--fs-32);
    }

    .order-button {
        margin: 0 0 16px 0;
        font-size: var(--fs-16);
        width: 100%;
        padding: 24px 0;
    }

    .prices-container {
        width: calc(100% - 32px) !important;
        flex-direction: column;
        margin: 88px 16px !important;
        gap: 24px;
    }

    .prices2-image {
        max-width: 250px;
    }

}

@media (max-width:866px) {
    .prices-container p {
        font-size: var(--fs-16);
        text-align: center;
    }

    .about-block {
        margin: 0 auto;
        padding: 16px;
    }

    .about-title {
        font-size: var(--fs-48);
    }

    .about-description {
        font-size: var(--fs-16);
        line-height: 40px;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
    }

    .team-title {
        margin-left: 16px !important;
        font-size: var(--fs-48);
        line-height: 120%;
    }
}

@media (max-width:767px) {
    .header-top-bar {
        margin: 40px 0 30px 0;
    }

    .safe-container {
        padding: 0 32px;
    }

    .header-content::before {
        width: 306px;
        height: 232px;
        right: 0;
        left: initial;
        top: -95px;
    }

    .header-content::after {
        width: 316px;
        height: 316px;
        left: 0;
        right: initial;
        bottom: -170px;
    }

    .header-lines h1 {
        font-size: var(--fs-28);
    }

    .header-lines {
        width: 90%;
    }

    .stretched-words {
        font-size: var(--fs-32);
    }

    .container-wrapper {
        background-position: 0 50px;
    }

    .benefits-content {
        display: none;

    }

    .benefits-container {
        margin-top: 160px !important;
    }

    .benefits-title {
        padding: 0 16px;
        font-size: var(--fs-24);
        line-height: 120%;
    }

    .benefits-title-br {
        display: none;
    }

    .adaptive-benefits-content {
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 16px;
        margin-top: 28px;
        background: var(--main-content-color);
        border-radius: 16px;
    }

    .adaptive-benefits-content li {
        text-align: center;
        width: 100%;
        padding: 16px 0;
        border-radius: 10px;
        background: var(--main-bg-color);
        font-family: var(--ff-u);
        font-size: var(--fs-16);
        font-weight: var(--fw-r);
        line-height: 130%;
        color: var(--main-font-color);
    }

    .adaptive-benefits-content li span {
        font-weight: var(--fw-b);
    }

    .adaptive-benefits-stars {
        display: flex;
        padding: 0 16px;
        justify-content: space-between;
        margin-top: 27px;
    }

    .adaptive-benefits-stars img {
        max-width: 95px;
        max-height: 95px;
        width: 100%;
        height: 100%;
    }

    .team-container {
        margin-bottom: 88px !important;
    }

    .result-title {
        font-size: var(--fs-28);
        line-height: 34px;
    }

    .result-title::after {
        bottom: -35px;
    }

    .result-container {
        width: calc(100% - 32px) !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        height: 360px;
    }

    .form-container {
        width: calc(100% - 64px) !important;
        padding: 16px 16px 56px 16px;
        gap: 22px;
    }

    .form-container .form-title {
        margin: 0;
        font-size: var(--fs-37);
    }

    .form-container form {
        flex-direction: column;
        margin: 0;
        flex-wrap: initial;
    }

    .form-container form input,
    .form-container form button {
        flex: initial;
        font-size: var(--fs-16);
    }

    .form-container form input::placeholder {
        font-size: var(--fs-16);
    }

    .form-container form input {
        width: calc(100% - 32px);
    }

    .form-container form button {
        margin-top: 15px;
    }

    .form-container form button::after {
        font-size: var(--fs-10);
        max-width: 240px;
        bottom: -40px;
    }

    .telegram {
        font-size: var(--fs-12);
    }

    .telegram span {
        font-size: var(--fs-16);
    }

    .contacts {
        font-size: var(--fs-12);
    }

    .contacts span {
        font-size: var(--fs-16);
    }

    .policy,
    .rights {
        font-size: var(--fs-10);
    }

    .footer {
        height: initial;
    }

    .upper-footer-block {
        padding-bottom: 24px;
        margin: 27px 16px 0;
    }

    .upper-footer-block .logo {
        display: none;
    }

    .lower-footer-block {
        margin: 20px 16px;
    }
    .adaptive-footer-logo {
        display:flex;
    }
    .adaptive-footer-logo span {
        display: inline-block;
    }
}

@media (max-width:425px) {
    .safe-container {
        padding: 0 16px;
    }

    .header-content::before {
        right: -10px;
    }

    .header-content::after {
        left: -10px;
    }

    .benefits-grid-mobile {
        height: 200px;
    }

    .about-block {
        margin: 0 16px;
    }

    .team-left-grid {
        grid-template-areas:
            "photo-area1 photo-area1"
            "photo-area2 photo-area2"
            "single-photo-area single-photo-area"
            "single-photo-area2 single-photo-area2"
    }

    .sm-photo img {
        max-width: initial;
    }

    .team-right-grid .sm-photo img {
        height: 250px;
    }

    .photo-area6 img {
        width: 100px;
        height: 100px !important;
    }

    .l-photo img {
        height: 200px;
    }
}

@media (max-width:340px) {
    .header-content::before {
        width: 240px;
        height: 100px;
        top: 0px;
    }

    .header-content::after {
        width: 260px;
        height: 120px;
        bottom: 0px;
    }
}