@font-face {
    font-family: "eUkraine";
    src: url("../fonts/e-ukraine/e-Ukraine-Regular.eot") format("eot"),
        url("../fonts/e-ukraine/e-Ukraine-Regular.woff") format("woff"),
        url("../fonts/e-ukraine/e-Ukraine-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "eUkraine";
    src: url("../fonts/e-ukraine/e-Ukraine-Medium.eot") format("eot"),
        url("../fonts/e-ukraine/e-Ukraine-Medium.woff") format("woff"),
        url("../fonts/e-ukraine/e-Ukraine-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "eUkraine";
    src: url("../fonts/e-ukraine/e-Ukraine-Bold.eot") format("eot"),
        url("../fonts/e-ukraine/e-Ukraine-Bold.woff") format("woff"),
        url("../fonts/e-ukraine/e-Ukraine-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue/TTFirsNeue-Medium.eot") format("eot"),
        url("../fonts/TTFirsNeue/TTFirsNeue-Medium.woff") format("woff"),
        url("../fonts/TTFirsNeue/TTFirsNeue-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue/TTFirsNeue-DemiBold.eot") format("eot"),
        url("../fonts/TTFirsNeue/TTFirsNeue-DemiBold.woff") format("woff"),
        url("../fonts/TTFirsNeue/TTFirsNeue-DemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}