.footer {
    height: 212px;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 24px 24px 0px 0px;
}

.upper-footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px 0 40px;
    padding-bottom: 77px;
    border-bottom: 1px solid #323036;
}

.telegram {
    color: var(--main-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-13);
    font-weight: var(--fw-b);
    line-height: 180%;
}

.telegram span {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-m);
    color: var(--main-font-color);
    text-transform: uppercase;
}

.logo {
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    font-weight: var(--fw-b);
    color: var(--main-content-color);
    letter-spacing: -0.14em;
}

.contacts {
    font-family: var(--ff-t);
    font-size: var(--fs-13);
    font-weight: var(--fw-b);
    color: var(--main-font-color);
    line-height: 180%;
}

.contacts span {
    font-family: var(--ff-t);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
}

.lower-footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.policy,
.rights {
    font-family: var(--ff-u);
    font-size: var(--fs-13);
    font-weight: var(--fw-b);
    color: var(--main-font-color);
    opacity: 0.5;
}