.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.header-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0 15px 0;
}

.header-logo {
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    letter-spacing: -0.14em;
    font-weight: var(--fw-b);
    color: var(--main-font-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-logo:hover {
    color: var(--main-content-color);
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 8px 8px 24px;
    height: 50px;
    gap: 40px;
    border-radius: 12px;
    background: var(--second-content-color);
}

.header-nav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
}

.header-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
    cursor: pointer;
}

.header-nav ul li a {
    font-family: var(--ff-u);
    font-size: var(--fs-16);
    font-weight: var(--fw-m);
    color: var(--main-font-color);
    transition: all 0.3s;

}

.header-nav ul li:hover a {
    color: var(--main-content-color);
}

.header-order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: var(--main-content-color);
    border-radius: 12px;
    color: var(--second-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-16);
    font-weight: var(--fw-m);
    border: none;
    cursor: pointer;
    border: 1px solid var(--main-content-color);
    transition: all 0.3s;
}

.header-order-btn:hover {
    background: transparent;
    color: var(--main-content-color);
}

.header-content {
    width: 100%;
    height: 650px;
    background-image: url(../assets/images/header-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
}

/* .header-content::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 175px;
    background: url(../assets/images/header-ufo.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -60px;
    top: 30px;
}

.header-content::after {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 250px;
    background: url(../assets/images/header-rocket.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -10px;
    right: -65px;
} */

.header-ufo {
    position: absolute;
    width: 400px;
    height: 175px;
    background: url(../assets/images/header-ufo.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -60px;
    top: 30px;
}

.header-rocket {
    position: absolute;
    display: block;
    width: 400px;
    height: 250px;
    background: url(../assets/images/header-rocket.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -10px;
    right: -65px;
}



.header-lines {
    height: 95%;
    width: 100%;
    display: block;
    background-image: url(../assets/images/header-lines.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-lines h1 {
    color: var(--second-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    text-align: center;
    line-height: 120%;
}

.header-lines h1 span {
    color: var(--main-content-color);
    position: relative;
}

.header-lines h1 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--main-content-color);
}