.main {
    margin: 180px 0 0 0;
    width:100%;
    overflow: hidden;
}

.stretched-words {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-100);
    font-weight: var(--fw-b);
    text-transform: uppercase;
    /* overflow: hidden; */
}

.stretched-words span {
    display: block;
    position: relative;

}

.stretched-words span::before {
    width: max-content;
    position: absolute;
    content: "Якщо вам";
    color: var(--main-content-color);
    font-family: var(--ff-u);
    /* font-size: var(--fs-100); */
    font-weight: var(--fw-b);
    text-transform: uppercase;
    left: -110%;
    top: 0;
    opacity: 0.1;
}

.stretched-words span::after {
    width: max-content;
    position: absolute;
    content: "Якщо вам";
    color: var(--main-content-color);
    font-family: var(--ff-u);
    /* font-size: var(--fs-100); */
    font-weight: var(--fw-b);
    text-transform: uppercase;
    left: 110%;
    top: 0;
    opacity: 0.1;
}

.benefits-grid {
    margin: 90px 0 170px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
        "s1 s2 s2"
        "s3 s3 s4";
}

.s1,
.s2,
.s3,
.s4 {
    height: 300px;
    border-radius: 16px;
}

.s1 span,
.s2 span,
.s3 span,
.s4 span {
    color: var(--second-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-24);
    font-weight: var(--fw-b);
    display: block;
    width: fit-content;
}

.s1 {
    grid-area: s1;
    background: url(../assets/images/s1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s1 span {
    margin: 24px 0 0 32px;
}


.s2 {
    grid-area: s2;
    background: var(--second-content-color);
    background: url(../assets/images/s2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s2 span {
    margin: 24px 32px 0 auto;
    color: var(--main-font-color);
}

.s3 {
    grid-area: s3;
    background: var(--second-content-color);
    background: url(../assets/images/s3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.s3 span {
    color: var(--main-font-color);
    margin: 0 0 24px 32px;
}

.s4 {
    grid-area: s4;
    background: var(--main-content-color);
    background: url(../assets/images/s4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.s4 span {
    margin: 0 32px 24px 0;
}

.container-wrapper {
    height: 800px;
    width: 100%;
    background: url(../assets/images/rotated-words-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 270px 0;
}

.about-block {
    padding: 32px;
    background: var(--main-content-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    max-width: 353px;
    border-radius: 20px;
    margin: 100px 0 0 214px;
}

.about-title,
.about-description {
    color: var(--second-font-color);
}

.about-title {
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    line-height: 120%;
}

.dividing-line {
    width: 100%;
    background: var(--second-content-color);
    height: 2px;
}

.about-description {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    line-height: 50px;
}

.portfolio-content {
    margin-left: 214px;
    display: flex;
    gap: 30px;
}

.portfolio-plate {
    width: 517px;
    border-radius: 16px;
    background-color: var(--second-content-color);
}

.portfolio-left-column {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.portfolio-right-column {
    display: flex;
    flex-direction: column;
    max-width: 517px;
    width: 100%;
    gap: 88px;
}

.plate-tag {
    z-index: 1;
    height: fit-content;
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--second-font-color);
    padding: 12px 16px;
    border-radius: 8px;
    background: var(--main-content-color);
}

.mojem-plate {
    background-image: url(../assets/images/mojem.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    height: 540px;
}

.mojem-plate .plate-tag {
    margin: 20px 20px 0 0;
}

.sens-visual-plate {
    background-image: url(../assets/images/sens-visual.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 540px;
    position: relative;
}

.sens-visual-plate::before {
    position: absolute;
    content: "";
    background: url(../assets/images/sens-visual-after.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 368px;
    height: 361px;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.sens-visual-plate .plate-tag {
    margin: 20px 0 0 20px;
}

.bohlib-plate {
    background-image: url(../assets/images/bohlib.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 640px;
    position: relative;
}

.bohlib-plate .plate-tag {
    margin: 20px 0 0 20px;
}

.bigmoney-plate {
    display: flex;
    justify-content: flex-start;
    height: 640px;
    position: relative;
}

.bigmoney-plate::after {
    position: absolute;
    content: "";
    background: url(../assets/images/portfolio-arrows.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 200px;
    right: -200px;
    bottom: -180px;
}

.bigmoney-plate::before {
    position: absolute;
    content: "";
    background: url(../assets/images/bigmoney.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 937px;
    height: 432px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bigmoney-plate .plate-tag {
    margin: 20px 0 0 20px;
}

.portfolio-title {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-end;
}

.upper-portfolio-title,
.lower-portfolio-title {
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
}

.upper-portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.upper-portfolio-title span {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--main-content-color);
    position: relative;
}

.upper-portfolio-title span::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -4px;
    left: 0;
    background: var(--main-content-color);
    height: 1px;
}


.gnrtr-plate {
    display: flex;
    justify-content: flex-start;
    height: 640px;
    position: relative;
}

.gnrtr-plate::before {
    position: absolute;
    content: "";
    background: url(../assets/images/gnrtr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 570px;
    height: 640px;
    right: 0;
    top: 0;
}

.gnrtr-plate .plate-tag {
    margin: auto 20px 20px auto;
}


.bold-plate {
    display: flex;
    justify-content: flex-start;
    height: 640px;
    position: relative;
}

.bold-plate::before {
    position: absolute;
    content: "";
    background: url(../assets/images/bold.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 557px;
    height: 724px;
    left: 0;
    bottom: 0;
}

.bold-plate .plate-tag {
    margin: auto 20px 20px auto;
}

.profi-plate {
    display: flex;
    justify-content: flex-start;
    height: 640px;
    position: relative;
}

.profi-plate::before {
    position: absolute;
    content: "";
    background: url(../assets/images/profi.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 517px;
    height: 640px;
    right: 0;
    bottom: 0;
}

.profi-plate .plate-tag {
    margin: 20px 0 0 20px;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    margin-top: 366px !important;
}

.benefits-title {
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
    line-height: 120%;
}

.benefits-title span {
    color: var(--main-content-color);
}

.team-container {
    display: flex;
    flex-direction: column;
    margin-top: 180px !important;
    margin-bottom: 130px !important;
}

.team-title {
    margin: 0 0 50px 214px;
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
}

.team-title span {
    color: var(--main-content-color);
    position: relative;
}

.team-title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--main-content-color);
}

.team-members {
    display: flex;
    gap: 16px;
}


.team-left-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
    height: fit-content;
    grid-auto-flow: row;
    grid-template-areas:
        "photo-area1 photo-area2"
        "single-photo-area single-photo-area"
        "single-photo-area2 single-photo-area2";
}

.single-photo-area {
    grid-area: single-photo-area;
}

.single-photo-area2 {
    grid-area: single-photo-area2;
}

.photo-area1 {
    grid-area: photo-area1;
}

.photo-area2 {
    grid-area: photo-area2;
}

.team-right-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
    height: fit-content;
    grid-auto-flow: row;
    grid-template-areas:
        "single-photo-area3 single-photo-area3"
        "photo-area3 photo-area4"
        "photo-area5 photo-area6"
        "photo-area7 photo-area8";
}

.single-photo-area3 {
    grid-area: single-photo-area3;
}

.photo-area3 {
    grid-area: photo-area3;
}

.photo-area4 {
    grid-area: photo-area4;
}

.photo-area5 {
    grid-area: photo-area5;
}

.photo-area6 {
    grid-area: photo-area6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 12px 12px 12px 0;
}

.photo-area6 img {
    width: 135px;
}

.photo-area7 {
    grid-area: photo-area7;
}

.photo-area8 {
    grid-area: photo-area8;
}

.sm-photo img {
    max-width: 308px;
    height: fit-content;
}

.l-photo img {
    max-width: 632px;
    max-height: 287px;
    height: fit-content;
}

.l-photo,
.sm-photo {
    position: relative;
}

.member-tag {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    color: var(--main-font-color);
    font-family: var(--ff-u);
    font-size: var(--fs-16);
    font-weight: var(--fw-r);
    padding: 12px 16px;
    background: #fff;
    border-radius: 0px 12px 0px 0px;
}

.photo-area6 {
    overflow: hidden;
}

.photo-area6 .member-tag {
    border: 1px solid #000;
    border-left: none;
    border-bottom: none;
}

.stages-content {
    display: flex;
    flex-direction: column;
    margin-left: 214px !important;
}

.stages-title {
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
    margin-bottom: 60px;
}

.stages-title span {
    color: var(--main-content-color);
    position: relative;
}

.stages-title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--main-content-color);
}

.accordion-title {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-b);
    color: var(--main-font-color);
    padding: 26px 0;
}

.stage-tags {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 16px 0;
}

.tag-title {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--second-font-color);
    padding: 12px 16px;
    background: var(--main-content-color);
    border-radius: 8px;
    border: 1px solid var(--main-content-color);
}

.tag-date {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--main-content-color);
    padding: 12px 16px;
    background: var(--main-bg-color);
    border-radius: 8px;
    border: 1px solid var(--main-content-color);
}

.stages-content p {
    margin: 0 0 26px 0;
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    color: var(--main-font-color);
    max-width: 782px;
    line-height: 140%;
}


.accordion-cross {
    position: relative;
    width: 30px;
    height: 2px;
    background: var(--main-content-color);
    transition: all 0.3s;
}

.accordion-cross::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 30px;
    background: var(--main-content-color);
}

.active .accordion-cross {
    transform: rotate(405deg);
}

.accordion .stages-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 956px;
}

.result-container {
    margin-top: 180px !important;
    margin-bottom: 180px !important;
    position: relative;
    height: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corners {
    position: absolute;
    content: "";
    max-width: 70px;
    max-height: 90px;
}

.corners img {
    max-width: 70px;
    max-height: 90px;
}

.left-top-corner {
    left: 0;
    top: 0;
}

.right-top-corner {
    top: 0;
    right: 0;
}

.left-bottom-corner {
    left: 0;
    bottom: 0;
}

.right-bottom-corner {
    right: 0;
    bottom: 0;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.result-content img {
    max-width: 120px;
}

.result-title {
    font-family: var(--ff-u);
    font-size: var(--fs-60);
    font-weight: var(--fw-r);
    color: var(--main-content-color);
    text-align: center;
    line-height: 72px;
    position: relative;
}

.result-title::after {
    content: "це робить вся команда";
    position: absolute;
    bottom: -30px;
    right: -50px;
    padding: 12px 16px;
    font-family: var(--ff-u);
    font-size: var(--fs-12);
    font-weight: var(--fw-m);
    color: var(--main-font-color);
    line-height: normal;
    border: 1px solid var(--main-content-color);
    background: var(--second-content-color);
    border-radius: 6px;
    transform: rotate(-10deg);
}


.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px !important;
    margin-bottom: 180px !important;
    background: var(--second-content-color);
    border-radius: 16px;
}

.order-text {
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    font-weight: var(--fw-m);
    color: var(--main-font-color);
    line-height: 120%;
    margin: 50px 0 50px 50px;
}

.order-text span {
    font-family: var(--ff-u);
    font-size: var(--fs-40);
    font-weight: var(--fw-m);
    color: var(--main-content-color);
}

.order-button {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-m);
    color: var(--second-font-color);
    padding: 24px 118px;
    border-radius: 12px;
    background: var(--main-content-color);
    border: none;
    cursor: pointer;
    margin: 50px 50px 50px 0;
}

.prices-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px !important;
}

.prices-container p {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-r);
    opacity: 0.6;
    line-height: 140%;
    color: var(--main-font-color);
}

.prices1-image {
    max-width: 660px;
}

.prices2-image {
    max-width: 263px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background: var(--main-content-color);
    border-radius: 12px;
    gap: 40px;
    margin-bottom: 180px !important;
}

.form-title {
    margin: 50px 0 0 50px;
    font-family: var(--ff-u);
    font-size: var(--fs-48);
    font-weight: var(--fw-b);
    line-height: 110%;
    color: var(--second-font-color);
}

.form-container form {
    margin: 0 50px 100px 50px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.form-container form input {
    border: none;
    border-radius: 12px;
    background: var(--second-font-color);
    max-width: 359px;
    width: 100%;
    flex: 1;
    height: 74px;
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-m);
    color: var(--main-font-color);
    outline: none;
    padding: 0;
    padding-left: 30px;
}

.form-container form input::placeholder {
    color: var(--main-font-color);
}

.form-container form button {
    font-family: var(--ff-u);
    font-size: var(--fs-18);
    font-weight: var(--fw-m);
    color: var(--second-font-color);
    background: var(--main-font-color);
    border: none;
    border-radius: 12px;
    max-width: 389px;
    width: 100%;
    flex: 1;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.form-container form button::after {
    content: "Натискаючи кнопку «Залишити заявку», ви приймаєте умови політики";
    position: absolute;
    bottom: -50px;
    width: 317px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: var(--ff-u);
    font-size: var(--fs-13);
    font-weight: var(--fw-r);
    color: var(--second-font-color);
    line-height: 130%;
    cursor: initial;
}