@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./adaptive.css";
@import "./burger-nav.css";
@import "./fonts.css";
@import "./normalize.css";
@import "./accordion.css";


:root {
    --main-bg-color: #FFFFFF;
    --main-content-color: #ED4A17;
    --second-content-color: #F2F2F2;
    --main-font-color: #323036;
    --second-font-color: #FFFFFF;
    --ff-u: "eUkraine";
    --ff-i: "Inter";
    --ff-t: "TTFirsNeue";
    --fw-r: 300;
    --fw-m: 500;
    --fw-b: 700;
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-13: 0.813rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-37: 2.313rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-60: 3.75rem;
    --fs-80: 5rem;
    --fs-100: 6.25rem;
}

.wrapper {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}